body{
  background: #dfdfdf;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

@media print{
  h1{
    color: #008000;
  }
  p {
    color: #a52a2a;
  }
}

@media all and (max-width: 500px){
  h1{
    color: #ff0000;
  }
}

@media all and (orientation: landscape){
  h1{
      color: #8a2be2;
  }
}